body {
    height: 100%;
    width: auto;
    background-color: rgb(19, 133, 19);
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    
}

h1 {
    color: black;
    text-align: center;
    
}

.life-count {
    
    display: flex;
    justify-content:space-evenly;
    position: relative;
}

.play-area {
    border: solid rgb(172, 128, 72) 10px;
    border-radius: 10%;
    height: 600px;
    background-position: center;
    background-size:700px 700px;
    background-repeat: no-repeat;
    width: 600px;
    position: relative; 
    margin: 0 auto;    
}

.Apple {
    margin: 10px;
    position:absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: url("https://www.clipartmax.com/png/middle/29-294937_apple-red-apple-cartoon-png.png");
    background-position: center;
    background-size:80px 80px; 
    background-repeat: no-repeat;    
}

.Basket {
    height: 60px;
    width: 60px;
    border-radius: 10%;
    position:absolute;
    top:540px;
    left:370px;
    background-image: url("https://thumbs.dreamstime.com/b/basket-texture-wooden-seamless-pattern-31172084.jpg"); 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;   
   }
.ghost {
    opacity: 0;   

}
.corporeal {
    opacity: 1;
    color: red;
    background-color: black;
    position:absolute;
    left:39%;
    bottom:50%;
}
#enterscore {
    justify-content:center;
}

.high-score {
    color: blue;
    left:50%;
    text-align: center;
}

li {
    font-size: 30px;
    list-style: none;
}

img {
    border: solid rgb(172, 128, 72) 10px;
    border-radius: 10%;
}

#play-again {
    height: 30px;
    width: 100px;
}