h1 {
    color: red;
}

span {
    height: 50px;
    width: 50px;
    background-color: red;
}

.play-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    
}

.Apple {
    margin: 10px;
}