body {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    height: 100%;
    
}

h1 {
    color: red;
    text-align: center;
}

span {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: red;

}

.play-area {
    /* display: flex;
    justify-content: center; */
    height: 800px;
    width: 800px;
    position: relative;    
   
    
    
}

.Apple {
    margin: 10px;
    position:absolute
}